* {
  margin: 0;
}

html {
  background: cornflowerblue;
}

.App {
  text-align: center;
}

.bulletin-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-container {
  height: 150px;
  width: 300px;
  border: darkblue 2px solid;
  margin: 20px;
}
